---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href='/'>Home</a>
    <a href='/about/'>About</a>
    <a href='/blog/'>Blog</a>

    <h1>About Me</h1>

    <h2>
      I'm Benjamin Lefebvre, Software Engineer with 1+ year of professional work
      experience in Tech.
    </h2>

    <p>I am working on learning Astro to add to my coding stack knowledge.</p>

    <p>I love how simple and efficient the framework is!</p>
  </body>
</html>
